:root {
  --strongcyan: hsl(172, 67%, 45%);
  --verydarkcyan: hsl(183, 100%, 15%);
  --darkgrayishcyan: hsl(186, 14%, 43%);
  --grayishcyan: hsl(184, 14%, 56%);
  --lightgrayishcyan: hsl(185, 41%, 84%);
  --verylightgrayishcyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1;
  font-size: 1.6rem;
  font-family: "Space Mono", sans-serif;
  height: 100vh;
  background-color: var(--lightgrayishcyan);
  padding-top: 5rem;
}

label {
  font-weight: 700;
  color: var(--darkgrayishcyan);
  margin-bottom: 1rem;
}

input {
  color: var(--verydarkcyan);
  font-size: 2.4rem;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  background-color: var(--verylightgrayishcyan);
  margin-bottom: 3rem;
  font-weight: 700;
  color: var(--verydarkcyan);
  text-align: right;
  letter-spacing: 1px;
  font-family: inherit;
}
input:focus {
  outline: 2px solid var(--strongcyan);
}

.primary-heading {
  color: var(--verydarkcyan);
  letter-spacing: 5px;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 7rem;
  line-height: 1.4;
}

.calculator {
  max-width: 100rem;
  margin: 0 auto;
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.068);
  padding: 4rem;
  display: flex;
  gap: 4rem;
  height: 50rem;
}
.calculator__inputs {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  height: 100%;
}
.calculator__bill {
  margin-bottom: 4rem;
}
.calculator__invalid {
  color: #da4227 !important;
}
.calculator__select {
  font-weight: 700;
  color: var(--darkgrayishcyan);
  margin-bottom: 1rem;
}
.calculator__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 5rem;
  gap: 2rem;
  margin-bottom: 5rem;
}
.calculator__percent {
  background-color: var(--verydarkcyan);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  font-weight: 700;
  font-size: 2.4rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.3s;
}
.calculator__percent:hover {
  background-color: var(--lightgrayishcyan);
  color: var(--verydarkcyan);
}
.calculator__custom {
  width: 100%;
  height: 100%;
}
.calculator__results {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  padding: 4rem;
  background-color: var(--verydarkcyan);
  border-radius: 15px;
  height: 100%;
}
.calculator__amount, .calculator__total {
  color: var(--white);
  margin-bottom: 0.5rem;
  font-weight: 500;
}
.calculator__person {
  color: var(--grayishcyan);
}

.reset {
  display: inline-block;
  margin-top: auto;
  width: 100%;
  padding: 0.5rem;
  text-transform: uppercase;
  font-family: inherit;
  font-size: 2.8rem;
  font-weight: 700;
  color: var(--verydarkcyan);
  background-color: var(--strongcyan);
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s;
}
.reset:hover {
  background-color: var(--lightgrayishcyan);
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clicked {
  background-color: var(--strongcyan);
  color: var(--verydarkcyan);
}

.tip {
  color: var(--strongcyan);
  font-size: 4.8rem;
  font-weight: 700;
}

.mb {
  margin-bottom: 5rem;
}